
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color:rgb(216, 242, 216);
}

.box{
  background-color: rgb(176, 243, 243);
  border: 2px solid black;
  border-radius: 40px;
  height: 70vh;
  width: 30%;
  margin-top: 7%;
  margin-left: 35%;
}

.inputField{
  margin: 25px;
  border: 2px solid black;
  border-radius: 20px;
  height: 40px;
  width: 200px;
  text-transform: capitalize;
}

.image{
  background-color: rgb(176, 243, 243);
  margin-top: 35px;
  padding: 3px;
}

.for-loc{
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  font-size: 40px;
}